.header {
    height: 100px;
    border-bottom: 3px dotted #eee;
    padding: 5px;
}

.headerTop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.headerTopLinks {
    font-size: 12px;
}

.headerTopLinks a {
    margin: 0 15px;
    color: #a1a1a1;
    text-decoration: none;
    transition: all 0.5s;
}

.headerTopLinks a:hover {
    color: #1e1e1e;
}

.headerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo .headerLogoLink {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.3px;
}

.headerLogo .headerLogoLink h2 {
    font-size: 30px;
    text-shadow: 2px 2px #a1a1a1;
}

.headerLogo .headerLogoLink h4 {
    /* font-size: 20px;  */
    text-shadow: 1px 1px #a1a1a1;
}

.headerNav ul {
    display: flex;
        list-style: none;
}

.headerNav ul li {
    margin: 0 15px;
}

.headerNav ul li a {
    text-decoration: none;
    color: #1e1e1e;
    transition: all 0.5s;
}

.headerNav ul li a:hover {
    color: #a1a1a1;
}


/* --------------------------------------------- */

.footer {
    border: 1px solid #000;
    background-color: #2a2a2a;
}

.footerTop {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 40px 0 20px 0;
}

.footerTop {
    display: flex;
    border-bottom: 3px dotted #eee;
}

.footerDiv {
    flex: 1;
}

.footerBottom {
    display: block;
    margin: 0 auto;
    width: 80%;height: 200px;
    padding: 20px 0 20px 0;
}

.footerBottomCopyright {
    text-align: center;
}

.footerBottomSocials {
    margin-top: 30px;
}

.footerBottomSocials svg {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
    color: #ccffff;
    transition: all 0.5s;
}

.footerBottomSocials svg:hover {
    color: #cc6666;
}

.footerBottomText {
    color: #fff;
    font-size: 14px;
    /* letter-spacing: 1.3px; */
}

.footerBottomText a {
    color: #ccffff;
    text-decoration: none;
    transition: all 0.5s;
} 

.footerBottomText a:hover {
    color: #cc6666;
}

.footerLogo .footerLogoLink {
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.3px;
}

.footerLogo .footerLogoLink h2 {
    font-size: 30px;
    text-shadow: 2px 2px #a1a1a1;
}

.footerLogo .footerLogoLink h4 {
    /* font-size: 20px;  */
    text-shadow: 1px 1px #a1a1a1;
}

.footerLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.footerLinks a {
    margin-top: 15px;
    color: #fff;
    transition: all 0.5s;
}

.footerLinks a:hover {
    color: #aaa;
}

.footerLinks a:first-child {
    margin-top: 20px;
}

.footerTitle h4 {
    text-align: center;
    color: #fff;
}

/* ------------------------------------------------ */
              /* Intro */

.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
        margin-left: 16px;
        margin-right: 16px;
    border-bottom: 3px dotted #eee;
}

.introLeft,
.introRight {
    max-width: 50%;
}

.introLeft {
    margin-right: 8px;
}

.introRight {
    margin-left: 8px;
}

.introLeftDiv {
    position: relative;
}

.introLeftDiv img {
    width: 100%;
}

.introLeftDiv .introLeftContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: 100px;
}

.introTitle {
    font-size: 52px;
    color: #fff;
    margin-bottom: 30px;
}

.introLink {
    padding: 12px 25px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.5s;
}

.introLink:hover {
    background-color: #fff;
    color: #2a2a2a;
}

.introRightDiv {
    display: flex;
    flex-wrap: wrap;
}

.introRightContent {
    max-width: 50%;
    position: relative;
}

.introRightContent:nth-of-type(1),
.introRightContent:nth-of-type(3) {
    padding-right: 10px;
}

.introRightContent:nth-of-type(2),
.introRightContent:nth-of-type(4) {
    padding-left: 10px;
}

.introRightInner {
    position: relative;
}

.introRightInner img {
    width: 100%;
}

.introRightText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.introRightTitle {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.introRightDesc {
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

.introRightHover {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42, 42, 42, 0.97);
    opacity: 0;
    visibility: 0;
    transition: all 0.5s;
}

.introRightHover:hover {
    opacity: 1;
    visibility: 1;
}

.introRightTextTitle {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #fff;
}

.introRightTextDesc {
    margin-bottom: 40px;
    font-size: 16px;
    color: #fff;
}

.introRightLink {
    padding: 12px 25px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.5s;
}

.introRightLink:hover {
    background-color: #fff;
    color: #2a2a2a;
}
