@font-face {
  font-family: Poppins;
  src: url(../public/assets/fonts/Poppins-Regular.ttf);
}

::selection {
  background-color: #2a2a2a;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mainContainer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* ==================================================== */
/* Latest */

.latest {
  border: 3px dotted #eee;
  margin-left: 16px;
  margin-right: 16px;
  padding: 40px 20px;
}

.latestContainer {
  width: 90%;
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 20px;
}

.latestTitle {
  font-size: 34px;
  color: #2a2a2a;
}

.latestDesc {
  color: #a1a1a1;
  font-size: 14px;
  font-style: italic;
}

.latestText {
  margin-bottom: 30px;
}

/* =================================================== */
/* Slider */

.sliderImgBottomTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.sliderImgTitle {
  font-size: 22px;
  color: #2a2a2a;
}

.sliderImgStar {
  font-size: 14px;
}

.sliderImgPrice {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
}

.sliderImgTopInner img {
  width: 100%;
  object-fit: cover;
}


/* =========================================================== */
/* Slick */
.slick-prev::before {
  content: '\1438';
  display: inline-block;
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  width: 50px;
  background-color: transperent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
  margin-left: -90px;
}

.slick-slide div {
  margin: 5px;
}

.slick-next::before {
  content: '\1433';
  display: inline-block;
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  width: 50px;
  background-color: transperent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
  margin-left: 30px;
}

.slick-prev,
.slick-next {
  top: 160px;
}

.sliderImgTop {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.sliderImgTopHover {
  position: absolute;
  bottom: -60px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
  visibility: 0;
  transition: all 0.5s;
}

.sliderImgTop:hover .sliderImgTopHover {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.sliderImgTopHover a {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a2a2a;
  background-color: #fff;
}

/* ===================================================== */
/* Expolre */

.explore {
  min-height: 100vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 80px 40px;
  border: 3px dotted #eeeeee;
}

.exploreDiv {
  display: flex;
  gap: 50px;
}

.exploreDivLeft,
.exploreDivRight {
  width: 50%;
}

.exploreTitle {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 25px;
}

.exploreDesc {
  margin-bottom: 25px;
  font-size: 14px;
  color: #aaa;
  display: block;
  font-weight: 500;
  text-align: justify;
}

.exploreQuote {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.exploreQuote svg {
  font-size: 40px;
  margin-right: 15px;
}

.exploreQuoteText {
  font-style: italic;
  font-weight: 500;
  color: #2a2a2a;
}

.exploreDescText {
  font-size: 14px;
  color: #aaa;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 25px;
}

.exploreDescText a {
  text-decoration: none;
  color: #007bff;
}

.exploreDivCards {
  display: flex;
  flex-wrap: wrap;
}

.exploreDivCard {
  margin: 10px 10px;
  width: 45%;
  min-height: 255px;
  background-color: #f8f8f8;
}

.exploreDescText:nth-of-type(2) {
  margin-bottom: 80px;
}

.exploreLink {
  padding: 12px 25px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.5s;
}

.exploreLink:hover {
  background-color: #2a2a2a;
  color: #fff;
}

.exploreDivTexts {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.exploreDivTexts h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 10px;
}

.exploreDivTexts span {
  font-size: 14px;
  color: #aaa;
  font-weight: 500;
  font-style: italic;
}

.exploreDivImg img {
  max-height: 255px;
  width: 100%;
  object-fit: cover;
}

/* ====================================================== */
/* Socials */

.socials {
  min-height: 100vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 80px 40px;
  border-bottom: 3px dotted #eee;
}

.socialsTop {
  margin-bottom: 40px;
}

.socialsTop h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.socialsTop span {
  font-size: 14px;
  font-weight: 400;
  color: #a1a1a1;
  font-style: italic;
}

.socialsBottomImages {
  display: flex;
}

.socialsBottomImg {
  position: relative;
}

.socialsBottomImg:hover .socialsHover {
  opacity: 1;
  visibility: visible;
}

.socialsBottomImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socialsHover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: 0;
  transition: all 0.5s;
}

.socialsHover a {
  position: absolute;
  bottom: 40px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.socialsHover svg {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
}

/* ======================================== */
/* Subscribe */

.subscribe {
  min-height: 100vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 80px 40px;
  border-bottom: 3px dotted #eee;
}

.subscribeDiv {
  display: flex;
  gap: 60px;
}

.subscribeLeft {
  width: 60%;
}

.subscribeRight {
  width: 40%;
}

.subscribeTitle {
  line-height: 55px;
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.subscribeDesc {
  font-size: 14px;
  font-weight: 400;
  color: #a1a1a1;
  font-style: italic;
}

.subscribeLeft form {
  margin-top: 30px;
}

.subscribeFormGroup {
  display: flex;
  justify-content: space-between;
}

.subscribeFormGroup input {
  width: 310px;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.subscribeFormGroup input:focus {
  outline-color: #ffc107;
}

.subscribeFormGroup button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  color: #fff;
  transition: all 0.3s;
}

.subscribeFormGroup button:hover {
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  background-color: #fff;
  cursor: pointer;
}

.subscribeRight {
  display: flex;
}

.subscribeRightLeft,
.subscribeRightRight {
  flex: 1;
}

.subscribeRightLeft div,
.subscribeRightRight div {
  margin-bottom: 30px;
}

.subscribeRightLeft div h4,
.subscribeRightRight div h4 {
  font-size: 16px;
  font-weight: 700;
  color: #2a2a2a;
}

.subscribeRightLeft div span,
.subscribeRightRight div span {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
}

/* ================================================== */
/* Form */

.form {
  min-height: 100vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 80px 40px;
  border: 3px solid red;
}

.formTop {
  position: relative;
  margin-bottom: 60px;
}

.formTop img {
  width: 100%;
}

.formTexts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.formTexts h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.formTexts span {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.formBottom {
  display: flex;
  gap: 30px;
}

.formBottomLeft,
.formBottomRight {
  width: 50%;
}

.formBottomTexts h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.formBottomTexts span {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #a1a1a1;
}

.formBottomForm {
  margin-top: 40px;
}

.formBottomGroups {
  width: 100%;
}

.formBottomGroups:first-child {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.formBottomGroups input {
  width: 50%;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
  margin: 0 15px;
}

.formBottomGroups textarea {
  width: 100%;
  height: 140px;
  min-height: 120px;
  max-height: 200px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 44px;
  padding: 0 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
  resize: none;
}

.formBottomBtn {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}

.formBottomBtn:hover {
  background-color: #fff;
  color: #2a2a2a;
  border-color: #2a2a2a;
}

/* ============================ */
/* About */

.aboutUs {
  min-height: 100vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 80px 40px;
}

.aboutUsDiv {
  border-bottom: 3px dotted #eee;
  padding-bottom: 80px;
}

.aboutUsTop {
  position: relative;
  margin-bottom: 60px;
}

.aboutUsTop img {
  width: 100%;
}

.aboutUsTexts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.aboutUsContent h2 {
  text-align: center;
}

.aboutUs h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.aboutUs span {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.aboutUsBottom {
  display: flex;
  gap: 30px;
}

.aboutUsBottomLeft,
.aboutUsBottomRight {
  width: 50%;
}

.aboutUsBottomTexts {
  border-bottom: 3px dotted #eee;
  padding-bottom: 80px;
}

.aboutUsBottomTexts h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.aboutUsBottomTexts span {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #a1a1a1;
}

.aboutUsBottomTexts .exploreQuote {
  margin-top: 25px;
}

.aboutUsBottomSocials {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}

.aboutUsBottomSocials a {
  width: 44px;
  height: 44px;
  background-color: #2a2a2a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s;
}

.aboutUsBottomSocials a:hover {
  color: #2a2a2a;
  background-color: #fff;
}

.aboutUsOthers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.aboutUsOthers h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.aboutUsOthers span {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #a1a1a1;
  border: 1px dotted #eee;
}

.aboutUsContent {
  margin-bottom: 60px;
}

.aboutUsImages {
  display: flex;
  gap: 50px;
}

.aboutUsImageBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsImageBottom h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #2a2a2a;
}

.aboutUsImageBottom span {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #a1a1a1;
  text-align: center;
}

.aboutUsImageTop {
  position: relative;
  height: 300px;
}

.aboutUsImageTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutUsImageHover {
  position: absolute;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.aboutUsImageHover a {
  width: 44px;
  height: 44px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
}

.aboutUsImageHover a:hover {
  color: #fff;
  background-color: #2a2a2a;
}

.aboutUsImageTop:hover .aboutUsImageHover {
  opacity: 1;
  visibility: visible;
}

.aboutUsImagesDiv {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.aboutUsImgDiv {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0 0 0 / 10%);
  padding: 30px;
}

.aboutUsImgDiv h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  text-align: center;
  margin-bottom: 25px;
}

.aboutUsImgDiv span {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
  color: #2a2a2a;
  text-align: center;
}

/* ===================================== */
/* ProductsItems */

.productsItems {
  min-height: 100vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 80px 40px;
}

.productsItemsDiv {
  padding-bottom: 10px;
}

.productsItemsTop {
  position: relative;
  margin-bottom: 60px;
}

.productsItemsTop img {
  width: 100%;
}

.productsItemsTexts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.productsItemsTexts h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.productsItemsTexts span {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.productsItemsOthers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.productsItemsOthers h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.productsItemsOthers span {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #a1a1a1;
}

.productsItemsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}