@font-face {
  font-family: Poppins;
  src: url(../public/assets/fonts/Poppins-Regular.ttf);
}

::selection {
  background-color: #2a2a2a;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mainContainer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* ==================================================== */
/* Latest */

.latest {
  width: 95%;
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 20px;
  border: 3px dotted #eee;
}

.latestTitle {
  font-size: 34px;
  color: #2a2a2a;
}

.latestDesc {
  color: #a1a1a1;
  font-size: 14px;
  font-style: italic;
}

.latestText {
  margin-bottom: 30px;
}

/* =================================================== */
/* Slider */

.sliderImgBottomTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.sliderImgTitle {
  font-size: 22px;
  color: #2a2a2a;
}

.sliderImgStar {
  font-size: 14px;
}

.sliderImgPrice {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
}

.sliderImgTopInner img {
  width: 100%;
  object-fit: cover;
}

.slick-slide div {
  margin-right: 10px;
}

/* =========================================================== */
/* Slick */
.slick-prev::before {
  content: '\1438';
  display: inline-block;
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  width: 50px;
  background-color: transperent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
  margin-left: -70px;
}

.slick-next::before {
  content: '\1433';
  display: inline-block;
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  width: 50px;
  background-color: transperent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
  margin-left: 0px;
}

.slick-prev,
.slick-next {
  top: 160px;
}

.sliderImgTop {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.sliderImgTopHover {
  position: absolute;
  bottom: -60px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
  visibility: 0;
  transition: all 0.5s;
}

.sliderImgTop:hover .sliderImgTopHover {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.sliderImgTopHover a {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a2a2a;
  background-color: #fff;
}